/* @import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$font-family-base: 'Quicksand', sans-sefif;

$custom-colors: (
    "grey": #F4F4F4,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
    
@import '../../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: $font-family-base !important;
} */
