@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Nunito Sans';
    }

    input[type=color]{
        width: 14px;
        height: 14px;
        border: none;
        border-radius: 100%;
        background: none;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
        border: none;
        border-radius: 100%;
    }
}